@model ContactModel
<div class="row">


    <div class="col-sm-5 col-md-5" style="width:800px; height: 500px; margin-bottom: 20px">
        @Html.Raw(@Model.Map)
    </div>
    <div class="col-sm-4">
        <div>
            <h1>Thông tin liên hệ</h1>
            <p>Có nhiều cách để liên hệ với chúng tôi. Bạn có thể liên hệ với chúng tôi, gọi điện hoặc gửi email cho chúng tôi, chọn những gì phù hợp với bạn nhất.</p>
            <p>SĐT : @Model.Phone</p>
            <p>Email : @Model.Email</p>
            <p>---------------------------------</p>
            <p>Thời gian làm việc : 8.00-21.00 Thứ 2 - Chủ nhật</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="fb-page" data-href="https://www.facebook.com/divineshop.vn/?locale=vi_VN" data-tabs="messeage" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/divineshop.vn/?locale=vi_VN" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/divineshop.vn/?locale=vi_VN">Divine Shop - Game bản quyền</a></blockquote></div>
    </div>

</div>